<html>

<head>
    <title>Filestorage</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/pico.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/custom.css')}}">
    <script src="{{ url_for('static', path='/htmx.min.js') }}"></script>
</head>

<body>
    <main class="container">
        <div hx-trigger="load" hx-get="navbar"></div>
        <br>
        <div class="main">
            <div id="main-content" hx-trigger="load" hx-get="buckets"></div>
            <!-- <div hx-trigger="load" hx-get="users"></div> -->
        </div>
        <script src="{{ url_for('static', path='/htmx.min.js') }}"></script>
    </main>
</body>

</html>
