<nav>
  <ul>
    <li><strong>Filestorage</strong></li>
  </ul>
  <ul>
    <li><a href="#">Files</a></li>
    <li><a href="#">Users</a></li>
    {% if logged_in == False %}
    <li><a href="/ui/login">Login</a></li>
    {% else %}
    <li><a hx-post="/auth/logout" hx-swap="none">Logout</a></li>
    {% endif %}
  </ul>
</nav>
