<nav>
  <ul>
    <li><strong>Filestorage</strong></li>
  </ul>
  <ul>
    <li><a hx-get="buckets" hx-target="#main-content">Buckets</a></li>
    <li><a hx-get="users" hx-target="#main-content">Users</a></li>
    {% if logged_in == False %}
    <li><a href="/ui/login">Login</a></li>
    {% else %}
    <li><a hx-post="/auth/logout" hx-swap="none">Logout</a></li>
    {% endif %}
  </ul>
</nav>
