<hgroup>
    <h4>Existing Buckets</h4>
    <table>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Created By</th>
                <th scope="col">Created On</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for bucket in buckets %}
            <tr>
                <th scope="row">{{ bucket.id }}</th>
                <td>{{ bucket.name }}</td>
                <td>{{ bucket.created_by }}</td>
                <td>{{ bucket.created_on }}</td>
                <td><a hx-get="buckets/{{ bucket.id }}" hx-target="#main-content">Select → </a></td>
            </tr>
            {% endfor %}
    </table>
</hgroup>
